.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid rgb(255, 0, 242);
    gap: 10px;
    padding: 10px;
}

.grid-item {
background-color: rgb(136, 187, 245);
color: white;
padding: 20px;
font-size: 1.5em;
text-align: center;

}